*.iml
*.ipr
*.iws
*.ids
target/
#*#
*~
*.hsp
.DS_Store
derby.log
mobill-acceptance-test/
mobill-karaf-distribution/
mobill-platform-build/
mobill-service-applications/
mobill-service-extensions/
mobill-service-platform/
mobill-tools/